<%= form_for(@stumanager) do |f| %>
  <% if @stumanager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stumanager.errors.count, "error") %> prohibited this stumanager from being saved:</h2>

      <ul>
      <% @stumanager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :deptname %><br>
    <%= f.text_field :deptname %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
