<p id="notice"><%= notice %></p>

<h1>Listing Stumanagers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Deptname</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stumanagers.each do |stumanager| %>
      <tr>
        <td><%= stumanager.name %></td>
        <td><%= stumanager.deptname %></td>
        <td><%= stumanager.score %></td>
        <td><%= link_to 'Show', stumanager %></td>
        <td><%= link_to 'Edit', edit_stumanager_path(stumanager) %></td>
        <td><%= link_to 'Destroy', stumanager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stumanager', new_stumanager_path %>
